# Dependencies
node_modules

# Production
build
dist

# Misc
.DS_Store
*.log

# Lock files
package-lock.json
yarn.lock

# Config files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
